/* 초기화 */
@import "reset.css";
*{
    font-family: 'Noto Sans', 'Arial Narrow', Arial, sans-serif;
}
.bold {
    font-weight: 700;
}

/* 이미지 확대 */

/* 전체 컨테이너 */
.container {
    width: 57%;
    margin: 0 auto;
}
/* 상품이미지 공통 */
.thumb {
    background: no-repeat center/100%;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}
.thumb:hover {
    transform: scale(1.02);
}
img.product_save {
    position: absolute;
    width: 62px;
    height: 54px;
    left: 0;
    top: 0;
    z-index: 1;
}
/* 상단 지금 가입하고 */
.container_top {
    width: 100%;
    background-color: #5f0080;
    letter-spacing: -0.5px;
    padding: 10px 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.container_top div {
    margin: 0 auto;
    width: 57%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container_top div span .fas.fa-chevron-right{
    margin-left: 30px;
}
/* 헤더 로고 */
.header_logo {
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header_logo .header_logo_l img {
    width: 163px;
    height: 22px;
}
.header_logo .header_logo_m {
    position: relative;
}
.header_logo .header_logo_m div {
    position: absolute;
    top: 20px;
    left: 15px;
}
.header_logo .header_logo_m a img {
    margin: 0 auto;
    width: 103px;
    height: 79px;
}
.header_logo .header_logo_r ul{
    display: flex;
    font-size: 12px;
}
.header_logo .header_logo_r ul li:first-child a {
    color: #5f0080;
}
.header_logo .header_logo_r ul li::after {
    content: "|";
    margin: 0 10px;
}
.header_logo .header_logo_r ul li:last-child::after {
    content: "";
}
/* 헤더 메뉴 */
.header_menu{
    padding-top: 15px;
    width: 100%;
    text-align: center;
}
.header_menu ul{
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.header_menu ul li::after {
    color: #cccccc;
    font-size: 3px;
    content: "|";
    margin: 0 50px;
}
.header_menu ul li:nth-child(5)::after {
    margin-right: 0px;
    content: "";
}
.header_menu ul li:nth-child(6)::after {
    content: "";
}
.header_menu ul li:last-child::after {
    content: "";
}
.header_menu ul li form div input {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f6;
    border-radius: 20px;
}
.header_menu ul li form div input {
    position: relative;
}
.header_menu ul li form div input:focus {
    background-color: white;
    outline: none;
}
.header_menu ul li .form-inline .form-group{
    position: relative;
}
.header_menu ul li .form-inline .form-group a{
    position: absolute;
    top: 4px;
    right: 10px;
}
.header_menu ul li:last-child {
    font-size: 20px;
    margin-left: 20px;
    width: 20px;
}
/* 메인배너 */
.main_banner{
    position: relative;
    width: 100%;
    height: 370px;
}
.main_banner img {
    position: absolute;
    left: -422px;
    height: 370px;
}
/* 메인  */
/* 이 상품 어때여? */
.product_container {
    position: relative;
    width: 100%;
}
.product_container > div {
    text-align: center;
    padding: 79px 0 35px;
}
.product_container > div > h2 {
    display: block;
    font-size: 28px;
    font-weight: 700;
}
.product_container .product_img_container {
    position: relative;
    padding: 0 0 35px;
    display: flex;
    justify-content: space-between;
}
.product_container .product_img_container > div {
    position: relative;
    width: 23%;
}
.product_container .product_img_container div a img:first-child {
    width: 100%;
}

.product_container .product_img_container div div{
    text-align: left;
}
.product_name {
    display: block;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -.5px;
    font-weight: 600;
}
.discount_price {
    display: block;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -.5px;
    font-weight: 700;
}
.original_price {
    display: block;
    font-size: 14px;
    letter-spacing: -.5px;
    color: #cccccc;
    text-decoration:line-through;
}
/* 상품 옆 이미지 */
.product_container .product_img_container .btn_next {
    width: 60px;
    height: 60px;
    background: url(https://res.kurly.com/pc/service/main/1908/btn_next_default.png?v=1) no-repeat 50% 50%;
    position: absolute;
    top: 30%;
    right: -30px;
    z-index: 100;
}

/* 인스타 */
.product_container .instagram_thumb_container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.product_container .instagram_thumb_container img{
    width: 175px;
    height: 175px;
}
.product_container .instagram_thumb_detail {
    padding-top: 20px;
}
.product_container .instagram_thumb_detail p{
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
}
.product_container .instagram_thumb_detail p:nth-child(2) {
    font-weight: 700;
    padding: 15px 0 45px;
} 
/* 연말특가 */
.product_container .year_sale {
    display: flex;
}
.product_container .year_sale .year_sale_l {
    width: 35%;
}
.product_container .year_sale div h2 {
    display: block;
    text-align: left;
    font-size: 32px;
    color: #5f0080;
    margin-bottom: 30px;
}
.product_container .year_sale div h4 {
    text-align: left;
    color: #999999;
    letter-spacing: -1px;
}
.product_container .year_sale div h5 {
    margin-top: 100px;
    text-align: left;
    color: #cccccc;
}
/* 오른쪽 */
.product_container .year_sale {
    padding-top: 80px;
    border-top: #ddd 1px solid;
}
.product_container .year_sale .year_sale_r {
    text-align: left;
    position: relative;
    width: 65%;
}
.product_container .year_sale .year_sale_r a {
    width: 100%;
}
.product_container .year_sale .year_sale_r img:nth-child(2){
    background: url("https://img-cf.kurly.com/shop/data/goods/1606295892849z0.jpg") no-repeat 50% 50%;
    width: 100%;
}
.product_container .year_sale .year_sale_r .product_name {
    margin: 10px auto;
}
.product_container .year_sale .year_sale_r .discount_price {
    font-size: 20px;
}
.product_container .year_sale .year_sale_r .discount_price,.original_price {
    display: inline-block;
}
.product_container .year_sale .year_sale_r .sale_percent{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #5f0080;
    font-size: 26px;
    font-weight: 800;
}


/* 이벤트 소식 */
.event_container .event_header h2 {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 80px 0 30px;
}
.event_container .product_container_3img {
    display: flex;
    justify-content: space-between;
}
.event_container .product_container_3img .event {
    text-align: center;
    width: 32%;
}
.event_container .product_container_3img .evnent div span,.product_name {
    margin: 10px 0 10px;
}
/* 중간 배너, 한 해의 마무리 */
.middle_banner {
    margin-top: 80px;
}
.middle_banner a img{
    width: 100%;
}

/* md의 추천 */
.md_recomend_btn {
    text-align: center;
}
.md_recomend_btn h2{
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 80px 0 30px;
}
.md_recomend_btn .md_btn {
    margin: 0 5px 20px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f6;
    border-radius: 20px;
}

/* 전체보기 */
.product_show_all{
    text-align: center;
    margin-top: 50px;
}
.product_show_all span {
    width: 50%;
    padding: 15px 0 15px;
    font-weight: 400;
    font-size: 16px;
}

/* 오늘의 신상품 */
.product_container div h3 {
    margin-top: 14px;
    color: #999999;
    letter-spacing: -1px;
}

/* 레시피 */
.product_container .product_img_container > div.recipe{
    position: relative;
    width: 32.2%
}
.product_container .product_img_container .recipe div .product_name {
    text-align: center;
}

/* 푸터 위 로고 */
.container > .bottom_img > a > img{
    width: 100%;
}
/* 푸터 */
/* 푸터 상단 */
footer .footer_top {
    display: flex;
}
footer .footer_top .footer_top_l {
    width: 49%;
}
footer .footer_top .footer_top_l h2 {
    padding: 29px 0 2px;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    line-height: 24px;
}
footer .footer_top .footer_top_r ul {
    display: flex;
    padding: 29px 0 0 0;
    line-height: 18px;
    color: #333;
}
footer .footer_top .footer_top_r ul li {
    font-size: 14px;
    padding-right: 16px;
}

/* 푸터 중단 */
.footer_middle {
    display: flex;
    margin: 29px 0;
}
/* 중단 - l */
.footer_middle .footer_middle_l {
    width: 14%;
    margin-right: 10px;
}
.footer_middle .footer_middle_l h2 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 22px;
}
.footer_middle .footer_middle_l p {
    margin-bottom: 16px;
}
.footer_middle .footer_middle_l p button span {
    font-weight: 700;
    line-height: 25px;
}

/* 중단 - m */
.footer_middle .footer_middle_m {
    width: 34%;
    font-size: 14px;
    line-height: 16px;
}
.footer_middle .footer_middle_m h4 {
    font-weight: 700;
    margin-bottom: 6px;
}
.footer_middle .footer_middle_m h5 {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

/* 중단 - r */
.footer_middle .footer_middle_r {
    padding-right: 16px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
}
.footer_middle .footer_middle_r a img {
    width: 30px;
    margin-right: 5px;
    padding-top: 16px;
}
.footer_middle_r .text_purple {
    color: #5f0080;
    font-weight: 600;
}

/* 푸터 하단 */
.footer_bottom {
    display: flex;
    border-top: 1px solid #eee;
    font-size: 10px;
    color: #999;
    line-height: 20px;
    letter-spacing: -.5px;
    padding-top: 25px;
}
.footer_bottom .footer_bottom_l { width: 24%;}
.footer_bottom .footer_bottom_m { width: 24%;}
.footer_bottom > div {
    display: flex;
    margin-right: 5px;
}
.footer_bottom > div > img {
    width: 34px;
    height: 34px;
    margin-right: 5px;
}
.footer_bottom > .footer_bottom_r > img  {
    width: 102px;
}
/* 퀵 상단 */
.quick_top > a {
    display: inline-block;
    position: fixed;
    background:url(https://res.kurly.com/pc/service/common/1903/btn_pagetop_v2.png) no-repeat 50% 50%;
    right: 30px;
    bottom: 30px;
    width: 58px;
    height:58px;
}
/* 퀵 메뉴 */
.quickmenu {
    position: fixed;
    width: 80px;
    right: 30px;
    bottom: 300px;
}
.quickmenu p a {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}
.quickmenu > img {
    width: 100%;
    margin-bottom: 3px;
}
